main {
  text-align: center;
  padding: 10px 0;

  .container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;

      input {
        padding: 5px;
        min-width: 200px;
        border-radius: 10px;
        
        &:focus::placeholder {
          opacity: 0.1;
        }
      }
      
      button {
        width: 100px;
        height: 30px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  main > .container {
    // border: 1px solid purple;
    height: 80vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0;


    section {
      // border: 1px solid green;
      height: 200px;

      form {

        input {
          width: 50%;
        }
      }
    }
  }
}