@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1em;
  line-height: 1em;
  background-color: #333;
  color: #fafafa;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

main {
  text-align: center;
  padding: 10px 0;
}
main .container {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
main .container section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
main .container form input {
  padding: 5px;
  min-width: 200px;
  border-radius: 10px;
}
main .container form input:focus::-webkit-input-placeholder {
  opacity: 0.1;
}
main .container form input:focus::-moz-placeholder {
  opacity: 0.1;
}
main .container form input:focus:-ms-input-placeholder {
  opacity: 0.1;
}
main .container form input:focus::-ms-input-placeholder {
  opacity: 0.1;
}
main .container form input:focus::placeholder {
  opacity: 0.1;
}
main .container form button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
main .container form button:hover {
  cursor: pointer;
}

@media (min-width: 750px) {
  main > .container {
    height: 80vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  main > .container section {
    height: 200px;
  }
  main > .container section form input {
    width: 50%;
  }
}
textarea {
  resize: none;
  padding: 5px;
  min-width: 200px;
  min-height: 150px;
  border-radius: 5px;
}
textarea:focus::-webkit-input-placeholder {
  opacity: 0.1;
}
textarea:focus::-moz-placeholder {
  opacity: 0.1;
}
textarea:focus:-ms-input-placeholder {
  opacity: 0.1;
}
textarea:focus::-ms-input-placeholder {
  opacity: 0.1;
}
textarea:focus::placeholder {
  opacity: 0.1;
}

input {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}/*# sourceMappingURL=main.css.map */